body {
    overflow-x: hidden;
}

.col-md-4 {
    border-width: 10px;
}

.left {
    display: block;
}

.fiche {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.chat {
    width: 50%;
    min-height: 50%;
    max-height: 50%;
    float: left;
    position: fixed;
    bottom: 0;
}

.right {
    float: right;
}

.armor {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    display: block;
    width: 15%;
}

.part {
    width: 80px;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

#form {

    background: rgba(32, 32, 32, 0.15); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px);

}

#input { 

    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem; 
  
  }
#input:focus {

      outline: none;

   }

#form > button { 

    background-color: #333;
      border: none;
      padding: 0 1rem;
      margin: 0.25rem; 
      border-radius: 3px; 
      outline: none; 
      color: #fff;
   }

#messages { 

    list-style-type: none;
     margin: 0; 
     padding: 0;
     overflow: scroll;
     margin-bottom: 50px;

   }
#messages > li { 
    
  padding: 0.5rem 1rem;

  }
#messages > li:nth-child(odd) {

    background-color: #333;
    color: white;

  }